# **OLAH DATA DUMMY (10 DATA)**

**IMPORT DATA**

In [211]:
import pandas as pd  # Import library pandas lalu inisialisasikan sebagai pd
import numpy as np  # Import library numpy kemudian inisialisasikan sebagai np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

HeartDisease = pd.read_csv('DataDummy.csv')  # Input data
HeartDisease  # Menampilkan data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Target
0,0.176471,1,1,0.60,0.685535,0,0,1.000000,0,0.666667,1,0
1,0.000000,0,1,0.40,0.647799,1,1,0.000000,1,0.000000,0,0
2,1.000000,0,2,0.80,0.094340,0,0,0.324324,1,0.000000,1,0
3,0.117647,1,2,0.20,1.000000,1,0,0.972973,1,0.000000,1,0
4,1.000000,0,1,0.00,0.176101,0,0,0.594595,1,0.000000,1,0
5,0.647059,1,1,0.20,0.654088,1,0,0.297297,1,0.000000,1,0
6,0.705882,0,2,1.00,0.000000,0,0,0.783784,1,0.666667,0,1
7,0.647059,1,0,0.56,0.213836,0,0,0.135135,1,1.000000,1,1
8,0.470588,1,1,0.40,0.358491,0,0,0.972973,1,0.000000,1,1
9,0.000000,0,0,0.60,0.169811,0,0,0.432432,0,1.000000,0,1

In [212]:
# import matplotlib.pyplot as plt

# pd.value_counts(HeartDisease['Target']).plot.bar()
# plt.title('Tingkat Penyakit Jantung')
# plt.xlabel('HeartDisease')
# plt.ylabel('Frequency')
# HeartDisease['Target'].value_counts()

In [213]:
HeartDisease.isna()
HeartDisease.notna()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Target
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True

In [214]:
HeartDisease.isnull().any()

Age               False
Sex               False
ChestPainType     False
RestingBP         False
Cholesterol       False
FastingBS         False
RestingECG        False
MaxHR             False
ExerciseAngina    False
Oldpeak           False
ST_Slope          False
Target            False
dtype: bool

In [215]:
HeartDisease.info() #Menampilkan informasi data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             10 non-null     float64
 1   Sex             10 non-null     int64
 2   ChestPainType   10 non-null     int64
 3   RestingBP       10 non-null     float64
 4   Cholesterol     10 non-null     float64
 5   FastingBS       10 non-null     int64
 6   RestingECG      10 non-null     int64
 7   MaxHR           10 non-null     float64
 8   ExerciseAngina  10 non-null     int64
 9   Oldpeak         10 non-null     float64
 10  ST_Slope        10 non-null     int64
 11  Target          10 non-null     int64
dtypes: float64(5), int64(7)
memory usage: 1.1 KB

**TRANSFORMASI DATA CATEGORY**

In [216]:
HeartDisease['Sex'] = HeartDisease['Sex'].astype('category')
HeartDisease['Sex'] = HeartDisease['Sex'].cat.codes

HeartDisease['ChestPainType'] = HeartDisease['ChestPainType'].astype('category')
HeartDisease['ChestPainType'] = HeartDisease['ChestPainType'].cat.codes

HeartDisease['FastingBS'] = HeartDisease['FastingBS'].astype('category')
HeartDisease['FastingBS'] = HeartDisease['FastingBS'].cat.codes

HeartDisease['RestingECG'] = HeartDisease['RestingECG'].astype('category')
HeartDisease['RestingECG'] = HeartDisease['RestingECG'].cat.codes

HeartDisease['ExerciseAngina'] = HeartDisease['ExerciseAngina'].astype('category')
HeartDisease['ExerciseAngina'] = HeartDisease['ExerciseAngina'].cat.codes

HeartDisease['ST_Slope'] = HeartDisease['ST_Slope'].astype('category')
HeartDisease['ST_Slope'] = HeartDisease['ST_Slope'].cat.codes

HeartDisease['Target'] = HeartDisease['Target'].astype('category')
HeartDisease['Target'] = HeartDisease['Target'].cat.codes

**NORMALISASI DATA NUMERIC**

In [217]:
def MINMAX(x, XminB, XmaxB):
  min=np.min(x)
  max=np.max(x)

  for a in x:
    XB = ((x-min)/(max-min))*(XmaxB+XminB)
    return XB

cols_to_norm = ['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']
HeartDisease[cols_to_norm] = HeartDisease[cols_to_norm].apply(lambda x: MINMAX(x,0,1))
HeartDisease[cols_to_norm]

        Age  RestingBP  Cholesterol     MaxHR   Oldpeak
0  0.176471       0.60     0.685535  1.000000  0.666667
1  0.000000       0.40     0.647799  0.000000  0.000000
2  1.000000       0.80     0.094340  0.324324  0.000000
3  0.117647       0.20     1.000000  0.972973  0.000000
4  1.000000       0.00     0.176101  0.594595  0.000000
5  0.647059       0.20     0.654088  0.297297  0.000000
6  0.705882       1.00     0.000000  0.783784  0.666667
7  0.647059       0.56     0.213836  0.135135  1.000000
8  0.470588       0.40     0.358491  0.972973  0.000000
9  0.000000       0.60     0.169811  0.432432  1.000000

In [218]:
HeartDisease

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Target
0,0.176471,1,1,0.60,0.685535,0,0,1.000000,0,0.666667,1,0
1,0.000000,0,1,0.40,0.647799,1,1,0.000000,1,0.000000,0,0
2,1.000000,0,2,0.80,0.094340,0,0,0.324324,1,0.000000,1,0
3,0.117647,1,2,0.20,1.000000,1,0,0.972973,1,0.000000,1,0
4,1.000000,0,1,0.00,0.176101,0,0,0.594595,1,0.000000,1,0
5,0.647059,1,1,0.20,0.654088,1,0,0.297297,1,0.000000,1,0
6,0.705882,0,2,1.00,0.000000,0,0,0.783784,1,0.666667,0,1
7,0.647059,1,0,0.56,0.213836,0,0,0.135135,1,1.000000,1,1
8,0.470588,1,1,0.40,0.358491,0,0,0.972973,1,0.000000,1,1
9,0.000000,0,0,0.60,0.169811,0,0,0.432432,0,1.000000,0,1

In [219]:
# HeartDisease.to_csv('datadummy.csv', index=False)

In [220]:
data =  HeartDisease[["Age", "Cholesterol"]]
dat = print(round(data, 3))

     Age  Cholesterol
0  0.176        0.686
1  0.000        0.648
2  1.000        0.094
3  0.118        1.000
4  1.000        0.176
5  0.647        0.654
6  0.706        0.000
7  0.647        0.214
8  0.471        0.358
9  0.000        0.170

**HITUNG R-SQUARE**

In [221]:
HeartDisease.sum()

Age                4.764706
Sex                5.000000
ChestPainType     11.000000
RestingBP          4.760000
Cholesterol        4.000000
FastingBS          3.000000
RestingECG         1.000000
MaxHR              5.513514
ExerciseAngina     8.000000
Oldpeak            3.333333
ST_Slope           7.000000
Target             4.000000
dtype: float64

In [222]:
df_infected = HeartDisease[HeartDisease['Target'] == 1]
print(df_infected)

        Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  \
6  0.705882    0              2       1.00     0.000000          0
7  0.647059    1              0       0.56     0.213836          0
8  0.470588    1              1       0.40     0.358491          0
9  0.000000    0              0       0.60     0.169811          0

   RestingECG     MaxHR  ExerciseAngina   Oldpeak  ST_Slope  Target
6           0  0.783784               1  0.666667         0       1
7           0  0.135135               1  1.000000         1       1
8           0  0.972973               1  0.000000         1       1
9           0  0.432432               0  1.000000         0       1

In [223]:
from cmath import sqrt



# x_Age = HeartDisease['Age']
# xy_Age = (x_Age * yy).sum()
# xAge = HeartDisease['Age'].sum()
# x2_Age = (HeartDisease['Age'] * HeartDisease['Age']).sum()

# r1_Age = 10 * xy_Age - xAge * y
# r2_Age = (10 * x2_Age - (xAge * xAge))
# r3_Age = (10 * y2 - (y * y))
# r4_Age = sqrt(r2_Age) * sqrt(r3_Age)
# r_age = r1_Age / r4_Age
# R_age = r_age * r_age

# # --------------------------------------------------------------------------
# x_sex = HeartDisease['Sex']
# xy_Sex = (x_sex * yy).sum()
# xSex = HeartDisease['Sex'].sum()
# x2_Sex = (HeartDisease['Sex'] * HeartDisease['Sex']).sum()

# r1_Sex = 10 * xy_Sex - xSex * y
# r2_Sex = (10 * x2_Sex - (xSex * xSex))
# r3_Sex = (10 * y2 - (y * y))
# r4_Sex = sqrt(r2_Sex) * sqrt(r3_Sex)
# r_Sex = r1_Sex / r4_Sex
# R_sex = r_Sex * r_Sex

# # -----------------------------------------------------------------------------
# x_cpt = HeartDisease['ChestPainType']
# xy_cpt = (x_cpt * yy).sum()
# xCPT = HeartDisease['ChestPainType'].sum()
# x2_cpt = (HeartDisease['ChestPainType'] * HeartDisease['ChestPainType']).sum()

# r1_cpt = 10 * xy_cpt - xCPT * y
# r2_cpt = (10 * x2_cpt - (xCPT * xCPT))
# r3_cpt = (10 * y2 - (y * y))
# r4_cpt = sqrt(r2_cpt) * sqrt(r3_cpt)
# r_cpt = r1_cpt / r4_cpt
# R_cpt = r_cpt * r_cpt

# #------------------------------------------------------------------------------
# x_rbp = HeartDisease['RestingBP']
# xy_rbp = (x_rbp * yy).sum()
# xRBP = HeartDisease['RestingBP'].sum()
# x2_rbp = (HeartDisease['RestingBP'] * HeartDisease['RestingBP']).sum()

# r1_rbp = 10 * xy_rbp - xRBP * y
# r2_rbp = 10 * x2_rbp - xRBP * xRBP
# r3_rbp = 10 * y2 - y * y
# r4_rbp = sqrt(r2_rbp) * sqrt(r3_rbp)
# r_rbp = r1_rbp / r4_rbp
# R_rbp = r_rbp * r_rbp

# #-----------------------------------------------------------------------------
# x_chl = HeartDisease['Cholesterol']
# xy_chl = (x_chl * yy).sum()
# xCHL = HeartDisease['Cholesterol'].sum()
# x2_chl = (HeartDisease['Cholesterol'] * HeartDisease['Cholesterol']).sum()

# r1_chl = 10 * xy_chl - xCHL * y
# r2_chl = 10 * x2_chl - xCHL * xCHL
# r3_chl = 10 * y2 - y * y
# r4_chl = sqrt(r2_chl) * sqrt(r3_chl)
# r_chl = r1_chl / r4_chl
# R_chl = r_chl * r_chl

# #-----------------------------------------------------------------------------
# x_fbs = HeartDisease['FastingBS']
# xy_fbs = (x_fbs * yy).sum()
# xFBS = HeartDisease['FastingBS'].sum()
# x2_fbs = (HeartDisease['FastingBS'] * HeartDisease['FastingBS']).sum()

# r1_fbs = 10 * xy_fbs - xFBS * y
# r2_fbs = 10 * x2_fbs - xFBS * xFBS
# r3_fbs = 10 * y2 - y * y
# r4_fbs = sqrt(r2_fbs) * sqrt(r3_fbs)
# r_fbs = r1_fbs / r4_fbs
# R_fbs = r_fbs * r_fbs

# #-----------------------------------------------------------------------------
# x_recg = HeartDisease['RestingECG']
# xy_recg = (x_recg * yy).sum()
# xRECG = HeartDisease['RestingECG'].sum()
# x2_recg = (HeartDisease['RestingECG'] * HeartDisease['RestingECG']).sum()

# r1_recg = 10 * xy_recg - xRECG * y
# r2_recg = 10 * x2_recg - xRECG * xRECG
# r3_recg = 10 * y2 - y * y
# r4_recg = sqrt(r2_recg) * sqrt(r3_recg)
# r_recg = r1_recg / r4_recg
# R_recg = r_recg * r_recg

# #-----------------------------------------------------------------------------
# x_mhr = HeartDisease['MaxHR']
# xy_mhr = (x_mhr * yy).sum()
# xMaxHR = HeartDisease['MaxHR'].sum()
# x2_mhr = (HeartDisease['MaxHR'] * HeartDisease['MaxHR']).sum()

# r1_mhr = 10 * xy_mhr - xMaxHR * y
# r2_mhr = 10 * x2_mhr - xMaxHR * xMaxHR
# r3_mhr = 10 * y2 - y * y
# r4_mhr = sqrt(r2_mhr) * sqrt(r3_mhr)
# r_mhr = r1_mhr / r4_mhr
# R_mhr = r_mhr * r_mhr

# #-----------------------------------------------------------------------------
# x_ea = HeartDisease['ExerciseAngina']
# xy_ea = (x_ea * yy).sum()
# xEA = HeartDisease['ExerciseAngina'].sum()
# x2_ea = (HeartDisease['ExerciseAngina'] * HeartDisease['ExerciseAngina']).sum()

# r1_ea = 10 * xy_ea - xEA * y
# r2_ea = 10 * x2_ea - xEA * xEA
# r3_ea = 10 * y2 - y * y
# r4_ea = sqrt(r2_ea) * sqrt(r3_ea)
# r_ea = r1_ea / r4_ea
# R_ea = r_ea * r_ea

# #-----------------------------------------------------------------------------
# x_op = HeartDisease['Oldpeak']
# xy_op = (x_op * yy).sum()
# xOP = HeartDisease['Oldpeak'].sum()
# x2_op = (HeartDisease['Oldpeak'] * HeartDisease['Oldpeak']).sum()

# r1_op = 10 * xy_op - xOP * y
# r2_op = 10 * x2_op - xOP * xOP
# r3_op = 10 * y2 - y * y
# r4_op = sqrt(r2_op) * sqrt(r3_op)
# r_op = r1_op / r4_op
# R_op = r_op * r_op

#-----------------------------------------------------------------------------
yy = df_infected['Target']
y = df_infected['Target'].sum()
y2 = (df_infected['Target'] * df_infected['Target']).sum()

x_st = df_infected['ST_Slope']
xy_st = (x_st * yy).sum()
xST = df_infected['ST_Slope'].sum()
x2_st = (df_infected['ST_Slope'] * df_infected['ST_Slope']).sum()

r1_st = 6 * xy_st - xST * y
r2_st = 6 * x2_st - xST * xST
r3_st = 6 * y2 - y * y
r4_st = sqrt(r2_st) * sqrt(r3_st)
r_st = r1_st / r4_st
R_st = r_st * r_st
print(R_st)
#-----------------------------------------------------------
# print("Nilai Korelasi R-Square atribut Age           : ",R_age)
# print("Nilai Korelasi R-Square atribut Sex           : ", R_sex)
# print("Nilai Korelasi R-Square atribut ChestPainType : ", R_cpt)
# print("Nilai Korelasi R-Square atribut RestingBP     : ", R_rbp)
# print("Nilai Korelasi R-Square atribut Cholesterol   : ", R_chl)
# print("Nilai Korelasi R-Square atribut FastingBS     : ", R_fbs)
# print("Nilai Korelasi R-Square atribut RestingECG    : ", R_recg)
# print("Nilai Korelasi R-Square atribut MaxHR         : ", R_mhr)
# print("Nilai Korelasi R-Square atribut ExerciseAngina: ", R_ea)
# print("Nilai Korelasi R-Square atribut Oldpeak       : ", R_op)
# print("Nilai Korelasi R-Square atribut ST_Slope      : ", R_st)
# dt = {'dataage' :R_age, 'datasex' :R_sex, 'datacpt' :R_cpt, 'datarbp' :R_rbp, 'datachl' :R_chl, 'datafbs' :R_fbs, 'datarecg' :R_recg, 'datamhr' :R_mhr, 'dataea' :R_ea, 'dataop' :R_op, 'datast' :R_st}
# print(dt)

(0.2499999999999999+0j)

**PRIOR PROBABILITY**

In [224]:
list_kelas = np.unique(HeartDisease['Target'])
print(list_kelas)

[0 1]

In [225]:
list_prior = np.zeros(len(list_kelas))
print(list_prior)

[0. 0.]

In [226]:
#menghitung prior prob setiap kelas
#frekuensi kemunculan tiap kelas dalam training set / jumlah total instance
jumlah_instance = len(HeartDisease)
print(jumlah_instance)

10

In [227]:
i = 0
while i < len(list_kelas):
    kelas_cek = list_kelas[i]
    j = 0
    jumlah_kelas_muncul = 0
    while j < jumlah_instance:
        kelas_tercek = HeartDisease['Target'].iloc[j]
        if kelas_cek == kelas_tercek:
            jumlah_kelas_muncul += 1
        j += 1
    prior_prob = jumlah_kelas_muncul / jumlah_instance
    list_prior[i] = prior_prob
    i += 1
print (list_prior)

[0.6 0.4]

In [228]:
print(np.c_[list_kelas, list_prior])

[[0.  0.6]
 [1.  0.4]]

In [229]:
print("Menampilkan Prior Probability No  : " , list_prior[0])
print("Menampilkan Prior Probability Yes : " , list_prior[1])

Menampilkan Prior Probability No  :  0.6
Menampilkan Prior Probability Yes :  0.4

**PROBABILITAS**

In [230]:
df_notInfected0 = HeartDisease[HeartDisease['Target'] == 0]
df_notInfected1 = HeartDisease[HeartDisease['Target'] == 1]
unique_df_notInfected0 = df_notInfected0['Age'].unique()
unique_df_notInfected1 = df_notInfected1['Age'].unique()
total0 = df_notInfected0.groupby("Age").count()
total1 = df_notInfected1.groupby("Age").count()
target0 = total0['Target'].values
target1 = total1['Target'].values
df0 = pd.DataFrame({'Age' : unique_df_notInfected0, 'JumlahTarget_0' : target0 })
df1 = pd.DataFrame({'Age' : unique_df_notInfected1, 'JumlahTarget_1' : target1 })

# df0 = pd.DataFrame({'Age' : unique_df_notInfected0, 'JumlahTarget_0' : (target0+1)/6 })

In [231]:
dataAge = HeartDisease['Age']
dataAge

0    0.176471
1    0.000000
2    1.000000
3    0.117647
4    1.000000
5    0.647059
6    0.705882
7    0.647059
8    0.470588
9    0.000000
Name: Age, dtype: float64

In [232]:
df0

        Age  JumlahTarget_0
0  0.176471               1
1  0.000000               1
2  1.000000               1
3  0.117647               1
4  0.647059               2

In [233]:
df1

        Age  JumlahTarget_1
0  0.705882               1
1  0.647059               1
2  0.470588               1
3  0.000000               1

In [234]:
df0['JumlahTarget_0'].sum()

6

In [235]:
df1['JumlahTarget_1'].sum()

4

In [236]:
data_test= pd.read_csv("datadummy.csv")#baca file csv
jum_data_test= data_test.shape[0]


label= data_test['Target']
kolom = data_test["Sex"]
valueKolom="0"
valueLabel=1
def HitungFrek(label,kolom,valueKolom,valueLabel):
    Frekuensi = 0
    for i in range(0,jum_data_test):
        if(kolom[i] == valueKolom and label[i]==valueLabel):
            Frekuensi=Frekuensi+1
        
    return Frekuensi
    

Frekuensi=HitungFrek(label,kolom,valueKolom,valueLabel)
print('Frekuensi :', kolom.name,"dengan nilai",valueKolom,"pada label",label.name," dengan nilai ",valueLabel," berjumlah",Frekuensi)

Frekuensi : Sex dengan nilai 0 pada label Target  dengan nilai  1  berjumlah 0

In [237]:
(len(HeartDisease.loc[(HeartDisease['Sex'] == 0) & (HeartDisease['Target'] == 1)])+1)/4

0.75