In [63]:
import pandas as pd  # Import library pandas lalu inisialisasikan sebagai pd
import numpy as np  # Import library numpy kemudian inisialisasikan sebagai np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

HeartDisease = pd.read_csv('datadummy.csv')  # Input data
HeartDisease  # Menampilkan data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Target
0,0.176471,1,1,0.60,0.685535,0,0,1.000000,0,0.666667,1,0
1,0.000000,0,1,0.40,0.647799,1,1,0.000000,1,0.000000,0,0
2,1.000000,0,2,0.80,0.094340,0,0,0.324324,1,0.000000,1,0
3,0.117647,1,2,0.20,1.000000,1,0,0.972973,1,0.000000,1,0
4,1.000000,0,1,0.00,0.176101,0,0,0.594595,1,0.000000,1,0
5,0.647059,1,1,0.20,0.654088,1,0,0.297297,1,0.000000,1,0
6,0.705882,0,2,1.00,0.000000,0,0,0.783784,1,0.666667,0,1
7,0.647059,1,0,0.56,0.213836,0,0,0.135135,1,1.000000,1,1
8,0.470588,1,1,0.40,0.358491,0,0,0.972973,1,0.000000,1,1
9,0.000000,0,0,0.60,0.169811,0,0,0.432432,0,1.000000,0,1

In [64]:
data0 = HeartDisease[HeartDisease['Target'] == 0]
data_0 = pd.value_counts(data0.Age)
dt = pd.DataFrame(data_0)
dt = dt.reset_index()
dt.columns = ['Age', 'Jumlah']
print(dt)

        Age  Jumlah
0  1.000000       2
1  0.176471       1
2  0.000000       1
3  0.117647       1
4  0.647059       1

In [65]:
ls = []
for w in dt.Jumlah:
    x = (w + 1)/6
    ls.append(x)
print(ls*)

[0.5, 0.3333333333333333, 0.3333333333333333, 0.3333333333333333, 0.3333333333333333]

In [66]:
data0 = HeartDisease[HeartDisease['Target'] == 1]
data_0 = pd.value_counts(data0.Age)
dt1 = pd.DataFrame(data_0)
dt1 = dt1.reset_index()
dt1.columns = ['Age', 'Jumlah1']
print(dt1)

        Age  Jumlah1
0  0.705882        1
1  0.647059        1
2  0.470588        1
3  0.000000        1

In [67]:
dt['Jumlah'].sum()

6

In [68]:
dt1['Jumlah1'].sum()

4

In [69]:
# 410 + 508 = 918
# Total Target HeartDisease = 918

In [70]:
# print("Age : ", HeartDisease[HeartDisease.Age == 0].Age.count()/HeartDisease.Age.count(), "%")

In [71]:
# print("Jumlah data tidak terinfeksi peyakit jantung :" ,len(df_notInfected))
# # print("Jumlah data terinfeksi peyakit jantung       :" ,len(df_infected))